.scoreboard {
  .roomCode {
    width: 100%;

    color: var(--primary);

    font-weight: bold;
    font-size: 2rem;

    cursor: pointer;

    &:active {
      transform: scale(90%);
    }
  }

  div {
    margin: 20px 10px 0px 10px;

    &:nth-child(3) {
      color: var(--neutral);
    }
    &:nth-child(4) {
      color: var(--easy);
    }
  }

  @media (min-width: 701px) {
    width: 200px;

    flex-direction: column;
    align-items: center;

    margin-right: 50px;
  }

  @media (max-width: 700px) {
    width: 400px;

    justify-self: center;

    flex-wrap: wrap-reverse;

    div {
      width: 110px;
    }

    .roomCode {
      margin-top: 20px;

      justify-content: center;
    }
  }
}
