.game_board {
  width: 400px;
  height: 400px;

  box-sizing: border-box;

  background-color: var(--home-button-bg);

  border-radius: 20px;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
