.game_container {
  min-width: 650px;
  width: 900px;

  position: relative;

  margin-left: auto;
  margin-right: auto;

  flex-wrap: wrap;
  align-items: center;

  margin-top: 5vh;

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 700px) {
    min-width: 400px;

    flex-direction: column-reverse;
  }

  @media (max-width: 450px) {
    min-width: 350px;
  }
}

.game_sub_container {
  flex-direction: column;

  justify-content: center;
}
